<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team.a404.a404team">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WHITE_EXETERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Maps Google API -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA-K8SFVZo8quWb3nIwaozWP6X-E9U58pg" />
        <!-- Maps Google API -->

        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Zona_lobby.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Zona_lobby.RegistroActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Zona_lobby.DetallesPerfilActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".VentanasEstado.ActivitySuccess"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Zona_lobby.lobby"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivities.HomeActivity"
            android:label="@string/title_activity_main_map"
            android:screenOrientation="portrait" />
    </application>

</manifest>